################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CpmPedidos.API/obj
/CpmPedidos.API/bin
/CpmPedidos.Domain/obj
/CpmPedidos.Domain/bin
/CpmPedidos.Interface/obj
/CpmPedidos.Interface/bin
/CpmPedidos.Repository/obj
/CpmPedidos.Repository/bin